Source: php-f8r-app
Maintainer: Jedi <jedi@freelancer.com>
Section: php
Priority: optional
Build-Depends: debhelper (>= 8),
               build-essential,
               autoconf2.59,
               libstdc++6-4.6-dev,
               g++-4.6,
               libxml2-dev,
               libbz2-dev,
               libcurl4-openssl-dev,
               libicu-dev,
               libmcrypt-dev,
               libreadline-dev,
               libpcre3-dev,
               g++,
               libssl-dev,
               re2c
Standards-Version: 5.3.29
Homepage: https://git.freelancer.com/pkg/php-f8r-app/
Vcs-Git: git://git.freelancer.com/pkg/php-f8r-app.git
Vcs-Browser: https://git.freelancer.com/pkg/php-f8r-app/

Package: php-f8r-app
Architecture: amd64
Depends: lsb-base (>= 3.2-14), mime-support, libmagic1, ucf, tzdata, sed, libmcrypt4, libicu48, libmysqlclient18
Provides: php5-common, phpapi-20090626, php5-cli, php5-fpm
Conflicts: php5-common, php5-cli, php5-fpm
Description: Freelancer PHP for GAF app servers
 PHP for app servers
