#!/usr/bin/make -f

export LDFLAGS=-lstdc++

%:
	dh $@

override_dh_auto_test:
	#

override_dh_auto_configure:
	rm configure
	PHP_AUTOCONF=autoconf2.59 ./buildconf --force
	$(CURDIR)/configure \
	--prefix=/usr/ \
	--bindir=/usr/bin/ \
	--sbindir=/usr/sbin/ \
	--mandir=/usr/share/man \
	--enable-static \
	--with-config-file-path=/etc/php5/cli \
	--with-config-file-scan-dir=/etc/php5/conf.d \
	--enable-cli --enable-cgi --enable-fpm \
	--with-fpm-user=www-data --with-fpm-group=www-data \
	--enable-magic-quotes --disable-ipv6 --without-sqlite3 \
	--without-sqlite --disable-sqlite --with-zlib \
	--enable-bcmath --with-bz2 --enable-calendar \
	--disable-dba --enable-exif \
	--enable-ftp --with-t1lib --with-jpeg-dir=/usr \
	--with-gettext --with-mhash \
	--enable-mbstring --enable-intl --with-libmbfl --with-onig \
	--with-mysql=mysqlnd --with-mysqli=mysqlnd \
	--with-openssl --enable-phar --enable-pcntl \
	--with-pdo-mysql=mysqlnd --without-pdo-sqlite  --with-readline \
	--enable-shmop --enable-soap --enable-sockets --enable-sysvmsg \
	--enable-sysvsem --enable-sysvshm --enable-wddx \
	--enable-zip --without-pear --with-zend-vm --enable-apc \
	--enable-memcache --enable-proctitle --enable-oauth

override_dh_auto_build:
	LDFLAGS='-lstdc++' make -j 2

override_dh_auto_install:
	$(MAKE) install INSTALL_ROOT=$(CURDIR)/debian/php-f8r-app
	# Copy the configuration initial files
	cp -v $(CURDIR)/php.ini-production $(CURDIR)/debian/php-f8r-app/etc/php5/fpm/php.ini
	cp -v $(CURDIR)/php.ini-production $(CURDIR)/debian/php-f8r-app/etc/php5/cli/php.ini
	cp -v $(CURDIR)/debian/php-f8r-app/usr/etc/php-fpm.conf.default $(CURDIR)/debian/php-f8r-app/etc/php5/fpm/php-fpm.conf

override_dh_installinit:
	dh_installinit --name=php5-fpm

clean:
	dh $@
