#!/usr/bin/make -f

export LDFLAGS=-lstdc++

EXTENSION_DIR=/usr/lib/php5/20090626
PROG_SENDMAIL=/usr/sbin/sendmail

# enable dpkg build flags
DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/buildflags.mk

%:
	dh $@

override_dh_auto_test:
	#

override_dh_auto_configure:
	rm configure
	PHP_AUTOCONF=autoconf2.59 ./buildconf --force
	EXTENSION_DIR="$(EXTENSION_DIR)" PROG_SENDMAIL="$(PROG_SENDMAIL)" $(CURDIR)/configure \
		--prefix=/usr \
		--bindir=/usr/bin \
		--sbindir=/usr/sbin \
		--sysconfdir=/etc \
		--mandir=/usr/share/man \
		--enable-cli \
		--enable-fpm \
		--enable-cgi \
		--enable-magic-quotes \
		--enable-ipv6 \
		--enable-apc \
		--enable-bcmath \
		--enable-calendar \
		--enable-dba \
		--enable-exif \
		--enable-ftp \
		--enable-mbstring \
		--enable-pcntl \
		--enable-phar \
		--enable-shmop \
		--enable-soap \
		--enable-sockets \
		--disable-sqlite \
		--enable-sysvmsg \
		--enable-sysvsem \
		--enable-sysvshm \
		--enable-wddx \
		--enable-zip \
		--disable-static \
		--with-fpm-user=www-data \
		--with-fpm-group=www-data \
		--with-layout=GNU \
		--with-config-file-path=/etc/php5/cli \
		--with-config-file-scan-dir=/etc/php5/conf.d \
		--with-openssl \
		--without-sqlite3 \
		--with-zlib \
		--with-bz2 \
		--without-sqlite \
		--with-gettext \
		--with-mhash \
		--with-libmbfl \
		--with-onig \
		--without-pdo-sqlite \
		--with-readline \
		--without-pear \
		--with-zend-vm \
		--with-t1lib \
		--with-jpeg-dir=/usr

override_dh_auto_build:
	LDFLAGS='-lstdc++' make -j 2

PCNTL_FUNCTIONS := $(shell < $(CURDIR)/ext/pcntl/php_pcntl.h sed -ne "/^PHP_FUNCTION/ s/PHP_FUNCTION(\(.*\));/\1/;t end;d;:end p" | tr '\n' ',')

override_dh_auto_install:
	$(MAKE) install INSTALL_ROOT=$(CURDIR)/debian/php-f8r-app

	chmod 01733 $(CURDIR)/debian/php-f8r-app/var/lib/php5/sessions/

	# sanitize php.ini file
	cat $(CURDIR)/php.ini-production | tr "\t" " " | \
	sed -e '/memory_limt =/ s/128M/-1/g;' \
	    -e '/session.gc_probability =/ s/1/0/g;' \
		-e '/short_open_tag =/ s/Off/On/g;' \
	  > $(CURDIR)/debian/php-f8r-app/etc/php5/cli/php.ini
	cat $(CURDIR)/php.ini-production | tr "\t" " " | \
	sed -e '/disable_functions =/ s/$$/ $(PCNTL_FUNCTIONS)/g;' \
	    -e '/short_open_tag =/ s/Off/On/g;' \
	    -e '/session.gc_probability =/ s/1/0/g;' \
	  > $(CURDIR)/debian/php-f8r-app/etc/php5/fpm/php.ini
	cp -v $(CURDIR)/debian/php-f8r-app/usr/etc/php-fpm.conf.default $(CURDIR)/debian/php-f8r-app/etc/php5/fpm/php-fpm.conf

override_dh_installinit:
	dh_installinit --name=php5-fpm

clean:
	dh $@
